[Unit]
Description=PYthon Alert Processor
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
PIDFile=/run/pyap.pid
# Pyap will fail to start if /run/pyap.pid already exists but has the wrong
# SELinux context. This might happen when running `nginx -t` from the cmdline.
# https://bugzilla.redhat.com/show_bug.cgi?id=1268621
ExecStartPre=/usr/bin/rm -f /run/pyap.pid
#ExecStartPre=
ExecStart=/usr/bin/pyap -v -d --pidfile=/run/pyap.pid --conf=/etc/pyap/pyap.conf
#ExecReload=/bin/kill -s HUP $MAINPID
KillSignal=SIGTERM
TimeoutStopSec=5
KillMode=process
PrivateTmp=true

[Install]
WantedBy=multi-user.target
